<div *ngIf="enablePaging">
    <div>
        <span *ngIf="page < collectionSize/pageSize">Displaying {{ (page-1)*pageSize+1 }} to {{page * pageSize }} of
            {{ collectionSize }} records.</span>
        <span *ngIf="page >= collectionSize/pageSize && collectionSize > pageSize">Displaying {{ (page-1)*pageSize+1 }}
            to
            {{collectionSize }} of {{collectionSize }} records.</span>
        <span *ngIf="collectionSize > 0 && collectionSize <= pageSize">Displaying {{collectionSize}}
            <span *ngIf="collectionSize === 1">record.</span>
            <span *ngIf="collectionSize > 1">records.</span>
        </span>
    </div>

    <!-- pager -->
    <div class="selection-section" *ngIf="collectionSize > pageSize">
        Page
        <button [disabled]="page===1" (click)="loadPage(page-1)">Prev</button>
        <button *ngFor="let pageNumber of maxSize" [disabled]="page===pageNumber" (click)="loadPage(pageNumber)">
            {{pageNumber}}</button>
        <button [disabled]="page===maxSize.length" (click)="loadPage(page+1)">Next</button>

    </div>

    <!-- page size options -->
    <div class="selection-section">
        <span ngbTooltip="Page Size">
            Page Size Selection
            <button *ngFor="let size of pageSizeOptions" [disabled]="size===pageSize" (click)="changePageSize(size)">
                {{size}}</button>
        </span>
    </div>
</div>