<div id="page-container">
    <app-header></app-header>

    <div id="wrapper">
        <app-side-bar [routes]="routes"></app-side-bar>
        <div class="content">
            <router-outlet></router-outlet>
            <hr class="divider-line">
        </div>
    </div>
</div>