<div class="table-container">
    <table>
        <thead class="header" data-table-header [columns]="columns" [hasSubmitColumn]="hasSubmitColumn"></thead>

        <tbody data-table-grid [columns]="columns" [dataList]="dataList" [hasSubmitColumn]="hasSubmitColumn"
            (submissionRequested)="submit($event)"></tbody>
    </table>
</div>
<app-data-table-footer [enablePaging]="enablePaging" [collectionSize]="rawList.length" [page]="currentPage"
    [pageSize]="pageSize" (pageChange)="loadPage($event)" [pageSizeOptions]="pageSizeOptions">
</app-data-table-footer>