.page-header{
    text-align: center;
}

.divider-line{
    width: 75%;
}

.table-container{
  overflow-x: auto;
  height: 650px;
  margin-top: 50px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}


tr , td , th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
}

tbody > tr:nth-child(even) {
  background-color: #dddddd;
}