
.content {
    margin: 0;
    margin-left: 0;
    padding: 10px;
}

#wrapper {
    -webkit-transition: all 0.45s ease-out 0;
    -moz-transition: all 0.45s ease-out 0;
    transition: all 0.45s ease-out 0;
    margin:0;
    padding:0;
    padding-left: 160px;
    height:100%;
}

.sidebar {
    background-color: #FFFFFF;
    margin-left: -140px;
    margin-top: 0;
    position: absolute;
    width: 120px;
    padding-top: 50px;
} 
