<tr *ngFor="let data of dataList">
    <td *ngIf="hasSubmitColumn" (click)="submit(data)"> <button>Submit</button> </td>
    <td *ngFor="let column of columns">
        {{data[column]}}
    </td>
</tr>