<div class="sidebar">
    <div class="sidebar-link-spacing" *ngFor="let route of routes">
        <a class="sidebar-link" (click)="routeToLink(route)" [ngClass]="{'active': isRouteActive(route)}">{{route}}</a>
    </div>
</div>