a:hover {
    background-color: #285757 !important;
    background-image: linear-gradient(to right, #285757  ,#387b7b ) ;


}
  
.active {
    background-color: #285757 !important; 
    background-image: linear-gradient(to right, #285757 ,#285757 ) !important;
}

a {
    cursor: pointer;
    background-color: #387b7b;
    color: #FFFFFF !important;
    text-align: center;
    font-weight: bolder;
    font-family: 'IBM Plex Serif', serif;
    padding: 10px;    
}

.sidebar-link{
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    box-shadow: 5px 5px 2px -2px #a5a5a5;
}

.sidebar-link-spacing{
    margin-bottom: 50px;
}