<nav class="navbar navbar-light bg-white justify-content-between">
    <a class="navbar-brand cursor-pointer" (click)="routeToHome()">
        <img src="./assets/capco-logo.png" height="50" width="200" alt="">
    </a>
</nav>
<hr class="horizontal-divider">